.slider .btn {
  margin-top: 20px;
}

.section-searchf input {
  padding: 5px !important;
  font-size: 22px !important;
  width: 90%;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

.button {
  padding: 2px;
  background-color: orange;
}

.drawer {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #f1f1f1;
  padding: 20px;
  border-left: 1px solid #ccc;
  transition: right 0.3s ease;
  z-index: 999;
}

/* Style for the floating button */
.floating-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  /* border: none; */
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}