@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.text{
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 10px;
	background-color: gray;
}
section{
	background-image: url('./img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.boxcenter{
	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	/* background: white; */

	/* opacity: ; */
}

.login-form {
	position: relative;
	width: 370px;
	height: auto;
	/*background: peachpuff;*/
	padding: 0px 35px 60px;
	 border: 1px solid white; 
	border-radius: 6px;
	/* box-shadow: inset 0 0 10px #ffffff; */
}

.head {
	padding-top: 100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
	/* font-weight: bolder; */
	font-weight: bolder;
	text-align: center;
	color: whitesmoke;
}

.text {
	margin-top: 50px;
	font-size: 24px;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 100px;
	letter-spacing: 2px;
	/* background: #000; */
	opacity: 0.8;
	border-radius: 10px;
}

/*------------------------------------------*/
form {
	margin-top: 20px;
}

form .field {
	margin-top: 20px;
	display: flex;
	/*flex-direction: column;*/
	padding: 5px;
	/*background: gold;*/
}

.field .fa {
	width: 60px;
	height: 50px;
	color: white;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #444;
	border-right: none;
	border-radius: 5px 0 0 5px;
	background: linear-gradient(#333, #222);
}

.field input,
form button {
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 15px;
	color: #868686;
	padding: 0 15px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #444;
	background: white;
}


input:focus {
	color: #ff9900;
	box-shadow: 0 0 10px rgba(243, 128, 5, 0.2),
		inset 0 0 5px rgba(255, 17, 0, 0.1);
	background: linear-gradient(#ffffff, #fafcfa);
	animation: glow .9s ease-out infinite;
}

@keyframes glow {
	0% {
		border-color:#ff9b04;
		box-shadow: 0 0 5px rgba(0, 255, 0, 0.2),
			inset 0 0 5px rgba(0, 0, 0, 0.1);
	}

	100% {
		border-color: #ff9b04;
		box-shadow: 0 0 20px rgba(255, 136, 0, 0.6),
			inset 0 0 10px rgba(255, 136, 0, 0.6);
	}
}

button {
	margin-top: 30px;
	border-radius: 5px !important;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

button:hover {
	color: #ff9b04;
	border: 1px solid #ff9b04;
	box-shadow: 0 0 5px rgba(255, 115, 0, 0.6),
		0 0 10px rgba(240, 133, 3, 0.2),
		0 0 15px rgba(247, 169, 2, 0.1),
		0 2px 0 rgb(253, 253, 253);
}

.link {
	margin-top: 25px;
	color: #868686;
	background: #000;
	opacity: 0.8;
	border-radius: 10px;
}

.link a {
	color: orange;
	text-decoration: none;

}

.link a:hover {
	text-decoration: underline;
}