<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>REGISTER</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginpage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<section>
		<div class="login-form">
			<h1 class="head"></h1>
			<div class="text" style="font-size: 36px;">Travel Planner</div>
			<form id="loginForm">
				<div class="field">
					<div class="fa fa-envelope"></div>
					<input type="email" placeholder="Email" id="email" required>
				</div>
				<div class="field">
					<div class="fa fa-lock"></div>
					<input type="password" placeholder="Password" id="password" required>
				</div>
				<button type="submit">Signup</button>
				<div class="link">
					Already have an account?
					<a href="/login">Login</a>
				</div>
			</form>
		</div>
	</section>
</body>

</html>